.UsedColors {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;

  &__box {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid black;
  }
}
